// **** README *****
// This is only an example `.env` file to help you construct your own
// DO NOT add your API TOKEN or any other Secret Keys here!

// Use cp to create your own `.env` file
// cp env.example .env
// Add your API Token and secret keys
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid public share your key!)


WEATHER_API_TOKEN = "YOUR OPEN WEATHER API TOKEN HERE"
