<nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
  <div class="navbar-brand mb-0 h1 text-white">WOW RESUME</div>

  <div class="mb-0 h1 text-white">
    <a href="javascript:void(0)" class="text-white h3 mr-3" title="GitHub">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="javascript:void(0)" title="Blog" class="text-white h3">
      <fa-icon [icon]="'globe'" [pulse]="true"></fa-icon>
    </a>

  </div>
</nav>

<router-outlet></router-outlet>
